body{
    overflow-y: auto;
    overflow-x: hidden;
    font-family: sans-serif;
  }
  
  
  
  #nam_e{
    padding-top: 50px;
    padding-left: 100px;
  }
  
  
  
    
  
  
  
  div.varun:nth-child(odd){
    background: linear-gradient(-229deg,
    #f4da66, #efefef);
  }
  div.varun:nth-child(even){
    background: linear-gradient(-229deg,
    #fada48, #efefef);
  }
  
  #face{
    font-size: 20px;
    padding-left: 10px;
  
  }
  #insta{
     font-size: 20px;
     padding-left: 10px;
     
  }
  
  #web{
  font-size:20px;
  padding-left: 70px;
  }
  
  #cont_t{
    display: inline;
    font-size: 15px;
  }
  
  @media(max-width:770px){
    
    #nam_e{
      font-size: 25px;
      padding-top: 28px;
    padding-left: 20px;
    }
    #web{
      font-size: 15px ;
      padding-left: 30px;
     
  
  
    }
    #insta{
      font-size: 20px;
      padding-left: 5px;
      
      
   }
   #face{
    font-size: 20px;
    padding-left: 5px;
   }
   #cont_t{
    display: inline;
    font-size: 11px;
  
  }
  #ant{
    display: none;
  }
  
  }
  
  
  /*media profile*/
  
  @media(max-width:430px){

   
        #tog_l{
          font-size: 15px;
          color: #ccc;
        }
        .N_M{
            font-size: 12px;
        }
      
        .navbar-brand{
          font-size: 8px;
        }
        .car2{
          max-width: 200px;
        max-height: 180px;
        }
        #p_r{
          font-size: 13px;
        }
        #m_b_t{
          flex-wrap: wrap;
          
        }
        #b_t{
          max-width: 100%px;
          max-height: 200px;
        }
        #l_t{
          padding-top: 10px;
        }
        
        #m_l{
          max-width: 500px;
          text-align: left;
          max-height: 500px;
         
         
          
        }
        #sh_w{
          display: none;
        }
       #i_i{
        font-size: 10px;
       }
       #p_p{
        font-size: 5px;
        display: none;
       }
        
        
        #n_m{
          font-size: 10px;
         
        }
        #lin_n{
          max-width: 100%;
          height: 280px;
          
         
          
        }
        #m_K{
         max-height: fit-content;
         box-sizing: border-box;
         max-width: max-content;
        
         
         
        
         
        }
        #pic{
          max-width: 200px;
          max-height: 100px;
          margin-top:  50px;
          border-radius: 20px;
          
          
          
        }
        #pic_c{
            display: none;
        }
        
        #hed_r{
          max-height: 30px;
          
        }
        #n_v{
          width: 100%;
        }
      
      
   
    #branding{
      font-size: 20px;
      padding-top: 10px;
    }
    #nam_e{
      font-size: 20px;
      padding-top: 25px;
    padding-left: 20px;
    }
    #web{
      font-size: 10px ;
      padding-left: 20px;
     
  
  
    }
    #insta{
      font-size: 10px;
      padding-left: 5px;
      
      
   }
   #face{
    font-size: 10px;
    padding-left: 5px;
   }
  #face{
    font-size: 10px;
    padding-left: 5px;
  
  }
  #cont_t{
    display: inline;
    font-size: 7px;
  
  }
  #ant{
    display: none;
  }
  }
  
  @media(max-width:325px){
  
   
  
    #insta{
      font-size: 10px;
      padding-left: 5px;
      
      
      
   }
   #face{
    font-size: 10px;
    padding-left: 5px;
    
   }
  
   #cont_t{
    display: inline;
    font-size: 5px;
  
  }
  
  }
  #hove{
    color:skyblue;
  }
  #hove:hover{
  color: white;
  border-radius: 10px;
  box-shadow: 2px 5px 9px rgb(241, 241, 238);
  transition: 0.3s;
  }
  
  #branding{
    text-shadow: 2px 1px 2px wheat;
    
  }

  /*responsive moble*/

