
*{
    padding: 0;
    box-sizing: border-box;
    
    scroll-behavior: smooth;
}
body{
    overflow-y: auto;
    overflow-x: hidden;
  }



/*max_media*/



    @media(max-width:430px){

        body{
            overflow-y: auto;
            overflow-x: hidden;
        }
       
        img,.d-block{
            max-width: 100%;
            max-height: 150px;
          
        }
        hr{
            max-width: 100%;
        }
        #branding{
            font-size: 20px;
            padding-top: 10px;
          }
    }

    @media(max-width:380px){
        #ant{
            display: none;
        }
        hr{
            max-width: 100%;
        }
    }

    @media(max-width:320px){
        #ant{
            display: none;
        }
        body{
            overflow-x: hidden;
            overflow-y: auto;
           
        }
    }

    @media(max-width:320px){
        div.abo_t{
            display: none;
        }
        hr{
           max-width: 100%;
        }
    }


    

    

    .conteudo{
        width: 100%;
    }
    .carrousel{
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1.2rem;
       overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        
    }

    .carrousel::-webkit-scrollbar{
      cursor: pointer;
        
    }
    .car{
        scroll-snap-align: start;
        border-radius: 30px;
        min-height: 150px;
        min-width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .car:nth-child(odd){
        background: linear-gradient(-229deg,
        #fbd52d, #efefef);
    }
    .car:nth-child(even){
        background: linear-gradient(-229deg,
        #fbd52d, #efefef);
    }
   
   img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    height: auto;
   }
   .animate__flash {
    display: -moz-inline-stack;
    display: inline-block !important;
    zoom: 1;
    vertical-align: top;
   }

   #spa:before { 
        content: ""; 
        animation: animate infinite 7s; 
        color: red;
        padding-left: 10px; 
    } 
  
    @keyframes animate { 
  
        0% { 
            content: "HTML"; 
        } 
  
        25% { 
            content: "CSS"; 
        } 
  
        50% { 
            content: "JAVA"; 
        } 
        75%{
          content: "PHP";
        }
        100%{
            content: "BOOSTRAM";
          }
    } 
    
h6{
   padding-left: 20px;
   padding-right: 20px;
}




#abo:before { 
    content: ""; 
    animation: changetext infinite 7s; 
    color: red;
    padding-left: 10px; 
} 

@keyframes changetext { 

    0% { 
        content: "Fast"; 
    } 

    35% { 
        content: "Responsive"; 
    } 

    50% { 
        content: "UI & UX"; 
    } 
    100% {
      content: "Dynamic";
    }
}
img.article{
    width: 100px;
    height: 100px;
}

.conteudo2{
    width: 100%;
}
.carrousel2{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
   overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    
}

.carrousel2::-webkit-scrollbar{
  cursor: pointer;
    
}
.car2{
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 150px;
    min-width: 100px;
   
   
    align-items: center;
    justify-content: center;

   
    text-align: center;
}
.car2:nth-child(odd){
    background: linear-gradient(-229deg,
    #fbd52d, #efefef);
}
.car2:nth-child(even){
    background: linear-gradient(-229deg,
    #fbd52d, #efefef);
}
.car2:hover{
   cursor: progress;
    box-shadow: 0 6px 9px darkgoldenrod;
    transition: 0.5s;
}
#dev{
    border: solid black;
    width: 100px;
    height: 100px;
}
#hove{
    color: skyblue;
  }
#hove:hover{
color: black;
border-radius: 10px;
box-shadow: 2px 5px 9px rgb(96, 96, 2);
transition: 0.3s;
}
 #serc:hover{
  border-color: solid red;
 } 

 #branding{
    text-shadow: 2px 1px 2px rgb(126, 126, 8);
    padding-top: 7px;
 }
 #face{
    font-size: 20px;
    padding-left: 10px;
  
  }
  #insta{
     font-size: 20px;
     padding-left: 10px;
     
  }
  #cont_t{
    display: inline;
    font-size: 15px;
  }
  #bus_t{
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
  }
#b_t{
    width: 200px;
    height: 250px;
    border: solid red;
}
